=begin
#fraudapi

#Easily and directly scan and block fraudulent security threats in input.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersiveFrauddetectionApiClient
  class FraudDetectionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # AI Fraud Detection for Documents
    # Perform fraud detection and classification on input document and user context.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [File] :input_file Input document, or photos of a document, to perform fraud detection on
    # @return [FraudDetectionResult]
    def document_detect_fraud(opts = {})
      data, _status_code, _headers = document_detect_fraud_with_http_info(opts)
      data
    end

    # AI Fraud Detection for Documents
    # Perform fraud detection and classification on input document and user context.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [File] :input_file Input document, or photos of a document, to perform fraud detection on
    # @return [Array<(FraudDetectionResult, Fixnum, Hash)>] FraudDetectionResult data, response status code and response headers
    def document_detect_fraud_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FraudDetectionApi.document_detect_fraud ...'
      end
      # resource path
      local_var_path = '/fraud-ai/detection/document'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FraudDetectionResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FraudDetectionApi#document_detect_fraud\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Advanced AI Fraud Detection for Documents
    # Perform advanced fraud detection and classification on input document and user context.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_email_address User email address for context (optional)
    # @option opts [BOOLEAN] :user_email_address_verified True if the user&#39;s email address was verified (optional)
    # @option opts [File] :input_file Input document, or photos of a document, to perform fraud detection on
    # @return [AdvancedFraudDetectionResult]
    def document_detect_fraud_advanced(opts = {})
      data, _status_code, _headers = document_detect_fraud_advanced_with_http_info(opts)
      data
    end

    # Advanced AI Fraud Detection for Documents
    # Perform advanced fraud detection and classification on input document and user context.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_email_address User email address for context (optional)
    # @option opts [BOOLEAN] :user_email_address_verified True if the user&#39;s email address was verified (optional)
    # @option opts [File] :input_file Input document, or photos of a document, to perform fraud detection on
    # @return [Array<(AdvancedFraudDetectionResult, Fixnum, Hash)>] AdvancedFraudDetectionResult data, response status code and response headers
    def document_detect_fraud_advanced_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FraudDetectionApi.document_detect_fraud_advanced ...'
      end
      # resource path
      local_var_path = '/fraud-ai/detection/document/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'UserEmailAddress'] = opts[:'user_email_address'] if !opts[:'user_email_address'].nil?
      header_params[:'UserEmailAddressVerified'] = opts[:'user_email_address_verified'] if !opts[:'user_email_address_verified'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AdvancedFraudDetectionResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FraudDetectionApi#document_detect_fraud_advanced\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
